lttng-traces/
results/
interception-libraries/lib/
interception-libraries/obj/
interception-libraries/GPA/
scripts/__pycache__/
tracers/*.o

CLUST/autom4te.cache
CLUST/config
CLUST/src/clust
CLUST/src/.deps
CLUST/src/.libs
CLUST/src/*.o
CLUST/src/*.lo
CLUST/src/*.la
CLUST/src/Makefile.in
CLUST/src/Makefile
CLUST/aclocal.m4
CLUST/config.log
CLUST/config.status
CLUST/libtool
CLUST/configure.ac
CLUST/Makefile
